{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
  <h1>Sliders</h1>
  <a href="{% url 'slider_create' %}">Create New Slider</a>
  <ul>
    {% for slider in sliders %}
      <li>
        <a href="{% url 'slider_detail' slider.pk %}">
          {{ slider.name|default:"Unnamed" }} (Screen {{ slider.screen }})
        </a>
        - PDFs: {{ slider.upload_pdf.count }}, Videos: {{ slider.upload_video.count }}
        <a href="{% url 'slider_update' slider.pk %}">Edit</a>
        <a href="{% url 'slider_delete' slider.pk %}">Delete</a>
      </li>
    {% empty %}
      <li>No sliders available.</li>
    {% endfor %}
  </ul>
{% endblock %}